<a href="https://colab.research.google.com/github/AndreyCesarVilacha/Statistic-PY/blob/main/Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
#Importing the librarys
import pandas as pd
import random
import numpy as np

In [11]:
#Importing the data
dataset = pd.read_csv('census.csv')

In [ ]:
dataset.shape

(32561, 15)

In [5]:
dataset.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [6]:
dataset.tail()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [7]:
#Taking 100 random sample from dataset
df_simple_random_sample = dataset.sample(n=100)

In [8]:
df_simple_random_sample

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
20486,43,Private,195258,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,>50K
28847,55,Private,276229,Some-college,10,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K
2150,28,Private,201175,11th,7,Never-married,Machine-op-inspct,Not-in-family,Black,Male,0,0,40,United-States,<=50K
9149,21,Private,20728,HS-grad,9,Never-married,Sales,Own-child,White,Female,4101,0,40,United-States,<=50K
18584,33,Private,268147,9th,5,Never-married,Sales,Unmarried,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29261,42,Private,240255,Assoc-voc,11,Married-civ-spouse,Prof-specialty,Husband,Black,Male,0,0,40,United-States,>50K
15216,25,Self-emp-not-inc,463667,HS-grad,9,Never-married,Other-service,Not-in-family,White,Male,0,0,8,United-States,<=50K
3574,68,State-gov,235882,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,2377,60,United-States,>50K
27603,36,Private,35945,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
26217,44,Private,147265,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K

In [9]:
df_simple_random_sample.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
20486,43,Private,195258,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,>50K
28847,55,Private,276229,Some-college,10,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K
2150,28,Private,201175,11th,7,Never-married,Machine-op-inspct,Not-in-family,Black,Male,0,0,40,United-States,<=50K
9149,21,Private,20728,HS-grad,9,Never-married,Sales,Own-child,White,Female,4101,0,40,United-States,<=50K
18584,33,Private,268147,9th,5,Never-married,Sales,Unmarried,White,Female,0,0,40,United-States,<=50K